.contrainer-fluid {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.favoritesHeader {
  position: relative;
  top: 100px;
  text-align: center;
}

.storedetailsWrapper {
  position: relative;
  top: 100px;
  width: 100%;
  padding: 2%;
  border: 2px solid #607D8B;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .imageAside {
    width: 48%;
    height: 100%;
    img {
      width: 90%;
    }
  }
  #favoritesHeart {
    color: $red;
  }
  .upPhotoInfoWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h4 {
      width: 30%;
      height: auto;
      font-size: 2vmax;
    }
  }
  .infoAside {
    width: 48%;
    padding: 2%;
    height: 100%;

  }
.infoDescription {
  width: 100%;
  margin-top: 5%;;
}
.infoMaterials {
  width: 100%;
}
}
