
<!DOCTYPE html>
<html lang="en" ng-app="EtsyShop">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" charset="utf-8">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/style.css" charset="utf-8">

  <title>EtsyShop</title>
</head>
<body>
<nav id="headerBar" class="navbar navbar-default" ng-controller="MainController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EtsyShop</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="headerHomeButton" class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/">Home</a></li>
            <li><a href="#/store">Store</a></li>
            <li><a href="#/favorites" ng-controller="LikesController" ng-click="loadLikes()">Favorites</a></li>
            <li><a href="#/cart" ng-controller="CartController" ng-click="goToCart()">Cart</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button id="cartButton" ng-click="goToCart()"  ng-controller="MainController" type="button"><i class="fa fa-shopping-cart" ng-bind="cartNumber()"></i></button></li>
        <li class="cartNumber" ></li>
      </ul>
    </div>
  </div>
</nav>

<ng-view></ng-view>


<!-- dependancies-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!--   main files -->
  <script src="app.js"></script>
<!--   // <script src="main/main.module.js"></script> -->
  <script src="main/main.controller.js"></script>
  <script src="main/main.controller.js"></script>

<!--   store files  -->
  <script src="store/store.module.js"></script>
  <script src="store/store.controller.js"></script>
  <script src="store/store.service.js"></script>

<!-- cart files -->
  <script src="cart/cart.module.js"></script>
  <script src="cart/cart.controller.js"></script>
  <script src="cart/cart.service.js"></script>

<!--   likes files -->
<script src="likes/likes.module.js"></script>
<script src="likes/likes.controller.js"></script>
<script src="likes/likes.service.js"></script>

</body>
</html>
