<section id="shoppingCartPage" class="container-fluid">
  <div class="cartHeaderWrapper">
    <h1>Shopping Cart</h1>
  </div>
  <div id="shoppingCartItem" class="row" ng-repeat="item in items" ng-model="cartItem">
    <div class="cartItemImgWrapper">
      <img src="{{item.Images[0].url_75x75}}" alt="">
    </div>
    <div class="cartInfoWrapper">
      <h6 class="cartItemTitle">{{item.title}}</h6>
      <h4 class="cartItemPrice" ng-model="total">{{item.price}}</h4>
      <div class="cartDeleteWrapper">
        <div class="cartDeleteItem"><i class="fa fa-times"></i></div>
      </div>
    </div>
  </div>
  <div class="total">

  </div>
</section>
